.banner-container {
  width: 100%;
  height: 100vh;
  background: url("../../images/bg3@4x.png") top center / cover no-repeat;
  position: relative;
}
.banner-container {
  color: white;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  overflow: hidden;
  .banner-img {
    position: absolute;
    z-index: 100;
    display: flex;
    width: 100%;
    left: 0;
    top: 40%;
    .banner-img {
      max-width: 100%;
    }
  }
  .banner-title {
    display: block;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    margin-top: 162px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .banner-container {
    .banner-img {
      position: absolute;
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
}
