.banner {
  width: 100%;
  height: 100vh;
  background: url("/src/images/bg3@4x.png") top center / cover no-repeat;
  position: relative;
  overflow: hidden;

  .banner__text {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

    .text__title {
      font-size: 42px;
      text-transform: uppercase;
      line-height: 52px;
      font-weight: 700;
      top: 142px;
    }

    .text__subtitle {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      top: 234px;
      text-transform: uppercase;
      opacity: 0.85;
    }
  }

  .banner__img {
    margin: 280px auto 0;
    width: 100%;
  }

  .banner__vector {
    position: absolute;
    top: 289px;
    left: -266px;
  }

  .banner__list-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 200px;
    right: 27px;

    .banner__contact-link a {
      display: block;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background-color: #eea4c9;
      border-radius: 50%;
    }
    .banner__contact-link a:hover {
      background-color: #5cbbe5;
    }
    .banner__contact-link img {
      margin-bottom: 4px;
    }
  }
}
