.main-container {
  overflow: hidden;

  .title-introduction,
  .title-service,
  .title-news,
  .title-customer,
  .title-contact {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 97px;
  }

  .line {
    margin: 0 auto;
    display: block;
    margin-bottom: 63px;
    margin-top: 30px;
  }

  .container-introduction {
    position: relative;

    .img-introduction {
      margin-left: 70px;
    }

    .text-introduction {
      background-color: #6823cf;
      width: 500px;
      border-radius: 8px;
      padding: 45px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      transform: translate(540px, -260px);
    }

    .text-introduction p {
      &:first-child {
        margin-bottom: 15px;
      }
    }

    .dots-slider-introduction {
      display: none;
    }

    .vector-main-introduction img {
      &:first-child {
        position: absolute;
        top: 125px;
        left: 50px;
      }

      &:nth-child(2) {
        position: absolute;
        top: 198px;
        right: 113px;
      }

      &:last-child {
        position: absolute;
        left: 114px;
        bottom: 224px;
        z-index: -1;
      }
    }
  }
}
