.body-container {
  position: relative;
  .agency-container {
    position: relative;
    min-height: 800px;
    .container-title {
      width: 100%;
      position: relative;
      .body-title {
        color: black;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        &:first-child {
          margin-top: 40px;
        }
        &:last-child {
          max-width: 400px;
        }
      }
    }
    .body-img__Hugs {
      border-radius: 15px;
      z-index: 10;
    }
    .hugs_slide {
      max-width: 850px;
      margin-left: 24%;
      margin-top: 5%;
    }
    .slick-slide {
      position: relative;
    }
    .slick-dots {
      transform: translate(-10%, -71%);
      .slick-dot {
        color: #2b2b2b;
      }
      li {
        display: block;
        margin: 20px 0;
      }
      li.slick-active {
        font-weight: 700;
        transform: scale(1.2);
        margin-left: -16px;
        &::after {
          content: "";
          font-weight: 500;
          position: absolute;
          margin-top: -6px;
          margin-left: 25px;
          background-color: #6823cf;
          width: 1px;
          height: 35px;
          transform: rotate(90deg);
        }
      }
    }
    .body-content {
      position: relative;
      margin: -180px 0 0 300px;
      padding: 16px;
      background-color: #6823cf;
      overflow: visible;
      border-radius: 12px;
      box-shadow: 0 2px 24px rgba(0, 0, 0, 0.08);
    }
    .body-content__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: white;
      overflow: hidden;
      max-height: 250px;
      margin: 2%;
    }
    .img-dots {
      z-index: -1;
      width: 18%;
      height: 18%;
      transform: translate(75%, 135%);
    }
  }
  // body service
  .body-services {
    position: relative;
    background-color: #eff8fc;
    width: 100%;
    min-height: 520px;
    .services-title {
      padding-top: 20px;
      color: #220440;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      &:last-child {
        max-width: 400px;
      }
    }
    .services-group {
      display: flex;
      justify-content: space-around;
    }
    .services-img {
      max-width: 200px;
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 20px;
    }
    .service-img__des {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .body-container {
    position: relative;
    .agency-container {
      position: relative;
      max-height: 600px;
      .body-title {
        max-width: 100%;
        width: 100%;
      }
      .body-img__Hugs {
        position: absolute;
        max-width: 100%;
        z-index: -10;
      }
      .body-content {
        position: relative;
        margin: 50% 0 0 0;
        width: 100%;
      }
      .hugs_slide {
        margin-left: 0;
      }
      .slick-slide {
        margin: 0 20px;
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        margin: -15px;
        list-style-type: none;
        .slick-dot {
          display: block;
          width: 20px;
          height: 20px;
          margin: 0 20px;
          border: none;
          border-radius: 100%;
          background-color: #ceebf7;
        }
        li {
          margin: 0 15px;
          &.slick-active {
            margin: 0 13px;
            &::after {
              display: none;
            }
            .slick-dot {
              background-color: #5cbbe5;
              margin: 0 20px;
              width: 30px;
              border-radius: 10px;
            }
          }
        }
      }
      .body-content__text {
        max-width: 100%;
      }
    }
    .body-griddots {
      display: none;
    }
    .body-number {
      display: none;
    }
    // body services
    .body-services {
      position: relative;
      margin-top: 0;
      .services-title {
        text-align: center;
        color: #220440;
        max-width: 100%;
      }
      .services-group {
        display: block;
        margin-left: 33%;
      }
      .services-img {
        width: 75%;
        height: auto;
      }
    }
  }
}
