.client-container {
  position: relative;
  background-color: #eff8fc;
  .client-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #220440;
    padding-top: 40px;
  }
  .client-line {
    max-width: 400px;
  }
  .client-logo {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    margin-top: 30px;
    line-height: 117px;
    .img-logo {
      line-height: 64px;
      max-width: 150px;
    }
  }
}
