.footer {
  background-color: #1c0233;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;

  .container {
    .footer__logo {
      margin: 83px 0 70px;
    }

    .footer__title {
      color: #fff;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 12px;
    }

    .footer__description {
      font-weight: 400;
      color: #fff;
      margin-bottom: 40px;
    }

    .footer__subscribe {
      margin-bottom: 35px;

      .footer__subscribe--input {
        border: 1px solid #def0fa;
        background-color: #1c0233;
        padding: 12px 458px 12px 25px;
        border-radius: 100px;
        color: #fff;

        &:focus {
          outline: none;
        }
      }

      .footer__subscribe--btn {
        border: none;
        border-radius: 100px;
        color: #00405c;
        font-weight: 700;
        padding: 13px 40px;
        transform: translateX(-160px);
        background: linear-gradient(to right, rgb(92, 187, 229), rgb(238, 164, 201));
      }
    }

    .footer__follow-us {
      width: 50%;
      display: flex;
      gap: 30px;
      align-items: center;
      margin-bottom: 40px;

      .follow-us__title {
        color: #fff;
      }

      .follow-us__icons {
        display: flex;
        justify-content: space-between;
        width: 60%;

        .icon {
          width: 46px;
          height: 46px;
          background-color: transparent;
          border-radius: 50%;
          line-height: 46px;
          text-align: center;

          .icon__img {
            margin-bottom: 4px;
          }

          &:hover {
            background-color: #1877f2;
            cursor: pointer;
          }
        }
      }
    }

    .footer__line {
      margin-bottom: 22px;
      width: 100%;
      overflow: hidden;
    }

    .footer__copy-right {
      .footer__copy-right--text {
        color: #fff;
        text-align: center;
      }

      .footer__copy-right--img {
        margin-left: 8px;
      }
    }

    .footer__img {
      position: absolute;
      top: 34px;
      right: 100px;
    }

    .footer__vectors {
      .vector {
        &:first-child {
          position: absolute;
          top: 130px;
          left: 570px;
        }

        &:nth-child(2) {
          position: absolute;
          top: 53px;
          left: 674px;
        }

        &:last-child {
          position: absolute;
          top: 213px;
          left: 660px;
        }
      }
    }
  }
}
