.header {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  font-weight: 500;
  height: 111px;
  position: absolute;
  z-index: 99;
  overflow: hidden;

  .header-content {
    height: 100%;

    .nav {
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .nav__list-links {
        display: flex;

        .nav-link {
          text-transform: capitalize;
          font-size: 15px;
          color: #fff;
          &:last-child {
            margin-left: 10px;
          }
        }
        .nav-link:hover {
          color: #5cbbe5;
        }

        .nav-link-contact {
          border: 2px solid #fff;
          border-radius: 24px;
        }
      }
    }

    .nav-responsive {
      display: none;
    }
  }
}
