.header-container {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  z-index: 99;
  overflow: hidden;
  font-weight: 500;
  position: absolute;
  .container {
    margin-top: 16px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-menu {
    display: none;
  }
  .header-list {
    display: flex;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    flex-wrap: wrap;

    .header-list__item {
      margin: 18px;
      color: white;
      cursor: pointer;
    }
    .header-list__item:hover {
      color: #5cbbe5;
    }
    .contact {
      border: solid 2px white;
      border-radius: 24px;
      margin: auto;
      width: 105px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-list {
    display: none !important;
  }
  .header-menu {
    display: flex !important;
    flex-wrap: wrap;
  }
}
