.hugs-container {
  position: relative;
  width: 100%;
  background-color: white;
  .hugs-title {
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: #220440;
    position: absolute;
    left: 13%;
    top: 15%;
  }
  .hug-items {
    margin-left: 20%;
    padding: 50px 0;
    .hug-img {
      max-width: 220px;
    }
    .img-crowd {
      float: right;
      margin-top: 40%;
    }
    .img-leVietHung {
      margin-top: 20px;
      margin-left: -20px;
    }
    .img-dinhLongBinh {
      max-width: 180px;
      margin-left: 20px;
      margin-top: 30%;
    }
    .img-nguyenVanTai {
      float: right;
      margin-top: 20px;
      max-width: 180px;
    }
    .img-tranThanhTrung {
      margin-top: -10px;
    }
  }

  .img-dinhLongBinh {
  }
}
