.hugs-container {
  position: relative;
  width: 100%;
  background-color: white;
  .hugs-title {
    max-width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: #220440;
    position: absolute;
    left: 13%;
    top: 15%;
  }
  .hug-items {
    max-width: 800px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 40%;
    padding: 50px 0;
  }
  .hug-img {
    max-width: 250px;
  }
  .crowd {
    margin-top: 99%;
  }
  .leVanA {
    margin-top: 30%;
  }
  .leVanC {
    margin-top: 10%;
  }
}
