<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', { "title": "HTML Boilerplate" })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')

    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
  </head>
  <body>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <div class="wrapper">
      <!-- include header.html -->
      @@include('../layouts/header.html')
      <!-- include banner.html -->
      @@include('../partials/banner.html')
      <!-- include body.html -->
      @@include('../layouts/body.html')
      <!-- include social.html  -->
      @@include('../layouts/social.html')
      <!-- include News Hug Agency -->
      @@include('../layouts/newsHugAgency.html')
      <!-- include team Hugs -->
      @@include('../layouts/teamHugs.html')
      <!-- include client.html  -->
      @@include('../layouts/client.html')
      <main class="main-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-block">HTML Boilerplate</h4>
            </div>
          </div>
        </div>
      </main>
      <!-- include footer.html -->
      @@include('../layouts/footer.html')
    </div>
    <!-- include scripts.html -->
  </body>
</html>
