<div id="community" class="row container-community">
  <div class="container main-community">
    <div class="header-title">
      <h2 class="title-community">
        Cộng đồng và <br />Đối tác của HUGS agency
      </h2>
      <img class="line-left" src="/src/images/Rectangle302.png" />
      <img class="line" src="/src/images/lineBottom.png" />
    </div>
    <div class="list-quantity">
      <div class="quantity">
        <h1>100</h1>
        <p>Group cộng đồng</p>
      </div>
      <div class="quantity">
        <h1>20</h1>
        <p>Đối tác tin cậy</p>
      </div>
      <div class="quantity">
        <h1>6.000.000</h1>
        <p>Người dùng facebook</p>
      </div>
      <div class="quantity">
        <h1>1000</h1>
        <p>Influencer & Kols</p>
      </div>
    </div>
  </div>
  <div class="menu-community">
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity2.png" alt="booking pr" />
      <div class="community-title">Bóng đá</div>
    </a>
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity1.png" alt="icon tin tức" />
      <div class="community-title">Tin Tức</div>
    </a>
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity3.png" alt="booking pr" />
      <div class="community-title">Giải trí</div>
    </a>
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity4.png" alt="booking pr" />
      <div class="community-title">Xe cộ</div>
    </a>
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity5.png" alt="booking pr" />
      <div class="community-title">Game</div>
    </a>
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity6.png" alt="booking pr" />
      <div class="community-title">Du lịch</div>
    </a>
    <a href="#" class="community-link">
      <img src="/src/images/VectorCommunity7.png" alt="booking pr" />
      <div class="community-title">Gia đình</div>
    </a>
  </div>
  <img class="line" src="/src/images/lineBottom.png" />

  <div class="list-image">
    <div class="image-slider">
      <div class="image-item">
        <img src="/src/images/football(1).png" alt="image slide" />
        <p class="text-description">Bóng đá Đà Nẵng</p>
        <img src="/src/images/lineSlider.png" alt="" class="line-slider" />
        <img
          src="/src/images/shadowSilder.png"
          class="slider-shadow"
          alt="image shadow"
        />
      </div>
      <div class="image-item">
        <img src="/src/images/football(2).png" alt="image slide" />
        <p class="text-description">Bóng đá Đà Nẵng</p>
        <img src="/src/images/lineSlider.png" alt="" class="line-slider" />
        <img
          src="/src/images/shadowSilder.png"
          class="slider-shadow"
          alt="image shadow"
        />
      </div>
      <div class="image-item">
        <img src="/src/images/football(3).png" alt="image slide" />
        <p class="text-description">Bóng đá Đà Nẵng</p>
        <img src="/src/images/lineSlider.png" alt="" class="line-slider" />
        <img
          src="/src/images/shadowSilder.png"
          class="slider-shadow"
          alt="image shadow"
        />
      </div>
      <div class="image-item">
        <img src="/src/images/football(4).png" alt="image slide" />
        <p class="text-description">Bóng đá Đà Nẵng</p>
        <img src="/src/images/lineSlider.png" alt="" class="line-slider" />
        <img
          src="/src/images/shadowSilder.png"
          class="slider-shadow"
          alt="image shadow"
        />
      </div>
      <div class="image-item">
        <img src="/src/images/football.png" alt="image slide" />
        <p class="text-description">Bóng đá Đà Nẵng</p>
        <img src="/src/images/lineSlider.png" alt="" class="line-slider" />
        <img
          src="/src/images/shadowSilder.png"
          class="slider-shadow"
          alt="image shadow"
        />
      </div>
    </div>
  </div>
</div>
