<div id="community" class="row community">
  <div class="col">
    <div class="container community__stats">
      <div
        class="wow bounceInRight community__stats__title"
        data-wow-duration="1.5s"
        data-wow-offset="250"
      >
        <h2 class="title">Cộng đồng và <br />Đối tác của HUGS agency</h2>
        <img class="line-left" src="/src/images/Rectangle302.png" />
        <img class="line" src="/src/images/lineBottom.png" />
      </div>
      <div
        class="wow bounceInLeft community__stats__quantities"
        data-wow-duration="1.5s"
        data-wow-offset="250"
      >
        <div class="quantity">
          <h1>100</h1>
          <p>Group cộng đồng</p>
        </div>
        <div class="quantity">
          <h1>20</h1>
          <p>Đối tác tin cậy</p>
        </div>
        <div class="quantity">
          <h1>6.000.000</h1>
          <p>Người dùng facebook</p>
        </div>
        <div class="quantity">
          <h1>1000</h1>
          <p>Influencer & Kols</p>
        </div>
      </div>
    </div>

    <div
      class="wow bounceInLeft community__menu"
      data-wow-duration="1.5s"
      data-wow-offset="250"
    >
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity2.png"
          alt="booking pr"
        />
        <div class="link__title">Bóng đá</div>
      </a>
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity1.png"
          alt="icon tin tức"
        />
        <div class="link__title">Tin Tức</div>
      </a>
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity3.png"
          alt="booking pr"
        />
        <div class="link__title">Giải trí</div>
      </a>
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity4.png"
          alt="booking pr"
        />
        <div class="link__title">Xe cộ</div>
      </a>
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity5.png"
          alt="booking pr"
        />
        <div class="link__title">Game</div>
      </a>
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity6.png"
          alt="booking pr"
        />
        <div class="link__title">Du lịch</div>
      </a>
      <a href="#" class="community__menu__link">
        <img
          class="menu__link--img"
          src="/src/images/VectorCommunity7.png"
          alt="booking pr"
        />
        <div class="link__title">Gia đình</div>
      </a>
    </div>

    <img class="line" src="/src/images/lineBottom.png" />

    <div
      class="wow fadeIn community__slider"
      data-wow-duration="1.5s"
      data-wow-offset="250"
    >
      <div class="community__slider__item">
        <img
          class="item__img"
          src="/src/images/football(1).png"
          alt="image slide"
        />
        <p class="item__title">Bóng đá Đà Nẵng</p>
        <img
          src="/src/images/lineSlider.png"
          alt=""
          class="item__line__title"
        />
        <img
          src="/src/images/shadowSilder.png"
          class="item__shadow"
          alt="image shadow"
        />
      </div>
      <div class="community__slider__item">
        <img
          class="item__img"
          src="/src/images/football(2).png"
          alt="image slide"
        />
        <p class="item__title">Bóng đá Đà Nẵng</p>
        <img
          src="/src/images/lineSlider.png"
          alt=""
          class="item__line__title"
        />
        <img
          src="/src/images/shadowSilder.png"
          class="item__shadow"
          alt="image shadow"
        />
      </div>
      <div class="community__slider__item">
        <img
          class="item__img"
          src="/src/images/football(3).png"
          alt="image slide"
        />
        <p class="item__title">Bóng đá Đà Nẵng</p>
        <img
          src="/src/images/lineSlider.png"
          alt=""
          class="item__line__title"
        />
        <img
          src="/src/images/shadowSilder.png"
          class="item__shadow"
          alt="image shadow"
        />
      </div>
      <div class="community__slider__item">
        <img
          class="item__img"
          src="/src/images/football(4).png"
          alt="image slide"
        />
        <p class="item__title">Bóng đá Đà Nẵng</p>
        <img
          src="/src/images/lineSlider.png"
          alt=""
          class="item__line__title"
        />
        <img
          src="/src/images/shadowSilder.png"
          class="item__shadow"
          alt="image shadow"
        />
      </div>
      <div class="community__slider__item">
        <img
          class="item__img"
          src="/src/images/football.png"
          alt="image slide"
        />
        <p class="item__title">Bóng đá Đà Nẵng</p>
        <img
          src="/src/images/lineSlider.png"
          alt=""
          class="item__line__title"
        />
        <img
          src="/src/images/shadowSilder.png"
          class="item__shadow"
          alt="image shadow"
        />
      </div>
    </div>
  </div>
</div>
