<div id="contact" class="row contact">
  <div class="container">
    <h2
      class="wow bounceInRight contact__title"
      data-wow-duration="1.5s"
      data-wow-offset="200"
    >
      Liên hệ với chúng tôi
    </h2>

    <img
      class="wow bounceInRight line"
      src="/src/images/lineBottom.png"
      data-wow-duration="1.5s"
      data-wow-offset="200"
    />

    <div class="row">
      <div class="contact__list col-md-5">
        <div
          class="item wow bounceInLeft"
          data-wow-duration="1.8s"
          data-wow-offset="50"
        >
          <div class="item__icon">
            <img
              class="item__icon--img"
              src="/src/images/contact_icon(1).png"
              alt="icon local"
            />
          </div>
          <div class="item__text">
            <div class="item__text--title">Địa chỉ</div>
            <div class="item__text--desc address">
              55 Lý Thường Kiệt, Hải Châu, TP Đà Nẵng
            </div>
          </div>
        </div>
        <div
          class="item wow bounceInLeft"
          data-wow-duration="1.6s"
          data-wow-offset="50"
        >
          <div class="item__icon">
            <img
              class="item__icon--img"
              src="/src/images/contact_icon(4).png"
              alt="icon mail"
            />
          </div>
          <div class="item__text">
            <div class="item__text--title">Email</div>
            <a href="#" class="item__text--desc">lienhe@hugs.agency</a>
          </div>
        </div>
        <div
          class="item wow bounceInLeft"
          data-wow-duration="1.4s"
          data-wow-offset="50"
        >
          <div class="item__icon">
            <img
              class="item__icon--img"
              src="/src/images/contact_icon(3).png"
              alt="icon phone"
            />
          </div>
          <div class="item__text">
            <div class="item__text--title">Số điện thoại</div>
            <a href="#" class="item__text--desc">0924.392.222</a>
          </div>
        </div>
        <div
          class="item wow bounceInLeft"
          data-wow-duration="1.2s"
          data-wow-offset="20"
        >
          <div class="item__icon">
            <img
              class="item__icon--img"
              src="/src/images/contact_icon(2).png"
              alt="icon facebook"
            />
          </div>
          <div class="item__text">
            <div class="item__text--title">Fanpage</div>
            <a href="#" class="item__text--desc">www.fb.com/hugs.agency/</a>
          </div>
        </div>
      </div>

      <div class="contact__form col-md-7">
        <p class="form__label">Họ tên</p>
        <div
          class="form__input mb-5 wow bounceInRight"
          data-wow-duration="1.8s"
          data-wow-offset="50"
        >
          <input
            type="text"
            class="form-control"
            id="input-fullname"
            placeholder="Nhập họ tên"
          />
        </div>
        <div class="row">
          <p class="form__label">Số điện thoại</p>
          <div
            class="form__input mb-5 wow bounceInRight col-md-6"
            data-wow-duration="1.6s"
            data-wow-offset="50"
          >
            <input
              type="text"
              class="form-control"
              id="input-phone"
              placeholder="Nhập số điện thoại"
            />
          </div>
          <p class="form__label">Email</p>
          <div
            class="form__input mb-5 wow bounceInRight col-md-6"
            data-wow-duration="1.6s"
            data-wow-offset="50"
          >
            <input
              type="email"
              class="form-control"
              id="input-email"
              placeholder="Nhập địa chỉ email"
            />
          </div>
        </div>
        <p class="form__label">Nội dung</p>
        <div
          class="form__input mb-5 wow bounceInRight"
          data-wow-duration="1.4s"
          data-wow-offset="50"
        >
          <textarea
            class="form-control text-area"
            id="input-content"
            rows="3"
            placeholder="Nhập nội dung"
          ></textarea>
        </div>
        <button
          class="form__btn wow bounceInRight"
          data-wow-duration="1.2s"
          data-wow-offset="50"
        >
          Nhận tư vấn
        </button>
      </div>
    </div>

    <div class="contact__vector">
      <img class="first-img" src="/src/images/Group2187.png" alt="vector" />
      <img class="last-img" src="/src/images/GroupContact.png" alt="vector" />
    </div>
  </div>
</div>
