<div id="contact" class="row container-contact">
  <div class="container">
    <div class="main-contact">
      <h2 class="title-contact">Liên hệ với chúng tôi</h2>
      <img class="line" src="/src/images/lineBottom.png" />
      <div class="row">
        <div class="list-contact col-md-5">
          <div class="contact">
            <div class="contact-icon">
              <img src="/src/images/contact_icon(1).png" alt="icon local" />
            </div>
            <div class="contact-text">
              <div class="contact-title">Địa chỉ</div>
              <div class="contact-description address">
                55 Lý Thường Kiệt, Hải Châu, TP Đà Nẵng
              </div>
            </div>
          </div>
          <div class="contact">
            <div class="contact-icon">
              <img src="/src/images/contact_icon(4).png" alt="icon mail" />
            </div>
            <div class="contact-text">
              <div class="contact-title">Email</div>
              <a href="#" class="contact-description">lienhe@hugs.agency</a>
            </div>
          </div>
          <div class="contact">
            <div class="contact-icon">
              <img src="/src/images/contact_icon(3).png" alt="icon phone" />
            </div>
            <div class="contact-text">
              <div class="contact-title">Số điện thoại</div>
              <a href="#" class="contact-description">0924.392.222</a>
            </div>
          </div>
          <div class="contact">
            <div class="contact-icon">
              <img src="/src/images/contact_icon(2).png" alt="icon facebook" />
            </div>
            <div class="contact-text">
              <div class="contact-title">Fanpage</div>
              <a href="#" class="contact-description"
                >www.fb.com/hugs.agency/</a
              >
            </div>
          </div>
        </div>

        <div class="input-contact col-md-7">
          <p class="label-field">Họ tên</p>
          <div class="contact-field mb-5">
            <input
              type="text"
              class="form-control"
              id="input-fullName"
              placeholder="Nhập họ tên"
            />
          </div>
          <div class="row">
            <p class="label-field">Số điện thoại</p>
            <div class="contact-field mb-5 col-md-6">
              <input
                type="text"
                class="form-control"
                id="input-phone"
                placeholder="Nhập số điện thoại"
              />
            </div>
            <p class="label-field">Email</p>
            <div class="contact-field mb-5 col-md-6">
              <input
                type="email"
                class="form-control"
                id="input-fullName"
                placeholder="Nhập địa chỉ email"
              />
            </div>
          </div>
          <p class="label-field">Nội dung</p>
          <div class="contact-field mb-5">
            <textarea
              class="form-control"
              id="input-content"
              rows="3"
              placeholder="Nhập nội dung"
            ></textarea>
          </div>

          <button class="contact-btn">Nhận tư vấn</button>
        </div>
      </div>
    </div>

    <div class="vector-main-contact">
      <img class="first-img" src="/src/images/Group2187.png" alt="vector" />
      <img class="last-img" src="/src/images/GroupContact.png" alt="vector" />
    </div>
  </div>
</div>
