<div id="customer" class="row customer">
  <div class="container">
    <h2 class="col customer__title">Khách hàng của HUGS agency</h2>

    <img class="line" src="/src/images/lineBottom.png" />

    <div class="customer__list">
      <div class="item">
        <img
          src="/src/images/customer(5).png"
          alt="social media"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img
          src="/src/images/customer(4).png"
          alt="booking pr"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img src="/src/images/customer(3).png" alt="event" class="item__logo" />
      </div>
      <div class="item">
        <img
          src="/src/images/customer(2).png"
          alt="web service"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img
          src="/src/images/customer(1).png"
          alt="web service"
          class="item__logo"
        />
      </div>
    </div>

    <h2 class="customer__title">Đối tác <span class="other">khác</span></h2>

    <img class="line" src="/src/images/lineBottom.png" />

    <div class="customer__list customer__other">
      <div class="item">
        <img
          src="/src/images/otherCustomer(1).png"
          alt="social media"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img
          src="/src/images/otherCustomer(5).png"
          alt="booking pr"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img
          src="/src/images/otherCustomer(4).png"
          alt="event"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img
          src="/src/images/otherCustomer(3).png"
          alt="web service"
          class="item__logo"
        />
      </div>
      <div class="item">
        <img
          src="/src/images/otherCustomer(2).png"
          alt="web service"
          class="item__logo"
        />
      </div>
    </div>
  </div>
</div>
