<div id="customer" class="row container-customer">
  <div class="container">
    <div class="main-customer">
      <h2 class="title-customer">Khách hàng của HUGS agency</h2>
      <img class="line" src="/src/images/lineBottom.png" />
      <div class="list-customers">
        <div class="customer">
          <img
            src="/src/images/customer(5).png"
            alt="social media"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/customer(4).png"
            alt="booking pr"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/customer(3).png"
            alt="event"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/customer(2).png"
            alt="web service"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/customer(1).png"
            alt="web service"
            class="customer-logo"
          />
        </div>
      </div>

      <h2 class="title-customer">Đối tác <span class="other">khác</span></h2>
      <img class="line" src="/src/images/lineBottom.png" />
      <div class="list-customers other-customers">
        <div class="customer">
          <img
            src="/src/images/otherCustomer(1).png"
            alt="social media"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/otherCustomer(5).png"
            alt="booking pr"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/otherCustomer(4).png"
            alt="event"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/otherCustomer(3).png"
            alt="web service"
            class="customer-logo"
          />
        </div>
        <div class="customer">
          <img
            src="/src/images/otherCustomer(2).png"
            alt="web service"
            class="customer-logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
