<div id="introduction" class="row introduction">
  <div class="container">
    <h2
      class="wow bounceInLeft introduction__title"
      data-wow-duration="1.5s"
      data-wow-offset="200"
    >
      HUGS Agency chúng tôi làm gì?
    </h2>
    <img
      class="wow bounceInLeft line"
      src="/src/images/lineBottom.png"
      data-wow-duration="1.5s"
      data-wow-offset="200"
    />

    <div class="introduction--desktop">
      <div
        class="introduction__slider wow bounceInRight"
        data-wow-duration="1.5s"
        data-wow-offset="200"
      >
        <div class="slider__item">
          <img
            class="item__img"
            src="/src/images/f1.png"
            alt="image introduction"
          />
          <div
            class="item__descs wow bounceInUp"
            data-wow-duration="1.5s"
            data-wow-offset="100"
          >
            <p class="desc">
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời.
            </p>
            <p class="desc">
              Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
              cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam.
              Hugs Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của
              mình bằng những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs
              Agency còn là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn
              “Ở đâu, sự kiện gì chúng tôi đều sẽ làm tốt!
            </p>
          </div>
        </div>
        <div class="slider__item">
          <img
            class="item__img"
            src="/src/images/team-work.png"
            alt="image introduction"
          />
          <div class="item__descs">
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              quaerat nihil laboriosam libero perferendis culpa iure aliquam
              iste assumenda molestiae exercitationem, reiciendis ipsa
              architecto adipisci explicabo eos repellat provident eveniet.
            </p>
            <p class="desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              provident officiis, enim vel quidem sequi ad quas eligendi aut
              dicta alias. Perferendis, consectetur non? Ipsa recusandae nihil
              nobis repellat maxime.
            </p>
          </div>
        </div>
        <div class="slider__item">
          <img
            class="item__img"
            src="/src/images/team-work-2.png"
            alt="image introduction"
          />
          <div class="item__descs">
            <p class="desc">
              Curabitur semper congue suscipit. Donec faucibus tortor lobortis
              libero lobortis interdum. Suspendisse blandit dui vel sollicitudin
              luctus. Pellentesque et aliquam ligula, ac volutpat mi. Nullam
              posuere leo augue. Etiam id iaculis eros. Fusce sit amet nulla
              felis. Nam eros mauris, malesuada eget iaculis eu, blandit quis
              nisl.
            </p>
          </div>
        </div>
        <div class="slider__item">
          <img
            class="item__img"
            src="/src/images/team-work-3.png"
            alt="image introduction"
          />
          <div class="item__descs">
            <p class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              aliquet nisl et ex sagittis efficitur. Praesent euismod magna
              rutrum, pharetra ex nec, efficitur tortor. Quisque tincidunt orci
              eu elit efficitur, eu venenatis odio pulvinar. Mauris feugiat
              libero eget risus pharetra, a blandit diam luctus. Nam est turpis,
              elementum vel ex vel, condimentum vulputate nulla. In hac
              habitasse platea dictumst. Maecenas vitae lobortis metus. Etiam
              sapien ipsum, facilisis quis eros ut, tempus congue felis.
            </p>
          </div>
        </div>
        <div class="slider__item">
          <img
            class="item__img"
            src="/src/images/team-work-4.png"
            alt="image introduction"
          />
          <div class="item__descs">
            <p class="desc">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
          </div>
        </div>
      </div>

      <div class="introduction__vectors">
        <img class="vector" src="/src/images/MainGroupImg.png" />
        <img class="vector" src="/src/images/MainGroupImg.png" />
        <img class="vector" src="/src/images/Group2187.png" />
      </div>
    </div>

    <div class="introduction--mobile">
      <div class="slider__item">
        <img
          class="item__img"
          src="/src/images/f1.png"
          alt="image introduction"
        />
        <div class="item__descs">
          <p class="desc">
            Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
            kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật. Và
            khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên Hugs
            Agency ra đời.
          </p>
          <p class="desc">
            Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
            cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam. Hugs
            Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của mình bằng
            những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs Agency còn
            là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn “Ở đâu, sự
            kiện gì chúng tôi đều sẽ làm tốt!
          </p>
        </div>
      </div>
      <div class="slider__item">
        <img
          class="item__img"
          src="/src/images/team-work.png"
          alt="image introduction"
        />
        <div class="item__descs">
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            quaerat nihil laboriosam libero perferendis culpa iure aliquam iste
            assumenda molestiae exercitationem, reiciendis ipsa architecto
            adipisci explicabo eos repellat provident eveniet.
          </p>
          <p class="desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
            provident officiis, enim vel quidem sequi ad quas eligendi aut dicta
            alias. Perferendis, consectetur non? Ipsa recusandae nihil nobis
            repellat maxime.
          </p>
        </div>
      </div>
      <div class="slider__item">
        <img
          class="item__img"
          src="/src/images/team-work-2.png"
          alt="image introduction"
        />
        <div class="item__descs">
          <p class="desc">
            Curabitur semper congue suscipit. Donec faucibus tortor lobortis
            libero lobortis interdum. Suspendisse blandit dui vel sollicitudin
            luctus. Pellentesque et aliquam ligula, ac volutpat mi. Nullam
            posuere leo augue. Etiam id iaculis eros. Fusce sit amet nulla
            felis. Nam eros mauris, malesuada eget iaculis eu, blandit quis
            nisl.
          </p>
        </div>
      </div>
      <div class="slider__item">
        <img
          class="item__img"
          src="/src/images/team-work-3.png"
          alt="image introduction"
        />
        <div class="item__descs">
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            aliquet nisl et ex sagittis efficitur. Praesent euismod magna
            rutrum, pharetra ex nec, efficitur tortor. Quisque tincidunt orci eu
            elit efficitur, eu venenatis odio pulvinar. Mauris feugiat libero
            eget risus pharetra, a blandit diam luctus. Nam est turpis,
            elementum vel ex vel, condimentum vulputate nulla. In hac habitasse
            platea dictumst. Maecenas vitae lobortis metus. Etiam sapien ipsum,
            facilisis quis eros ut, tempus congue felis.
          </p>
        </div>
      </div>
      <div class="slider__item">
        <img
          class="item__img"
          src="/src/images/team-work-4.png"
          alt="image introduction"
        />
        <div class="item__descs">
          <p class="desc">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
