<div id="introduction" class="row introduction">
  <div class="container">
    <h2 class="introduction__title">HUGS Agency chúng tôi làm gì?</h2>
    <img class="line" src="/src/images/lineBottom.png" />
    <div class="introduction__content">
      <img
        class="introduction__content__img"
        src="/src/images/f1.png"
        alt="image introduction"
      />

      <div class="introduction__content__descs">
        <p class="desc">
          Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm kinh
          nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật. Và khi họ
          gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên Hugs Agency ra
          đời.
        </p>
        <p class="desc">
          Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công cụ
          quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam. Hugs
          Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của mình bằng
          những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs Agency còn là
          một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn “Ở đâu, sự kiện gì
          chúng tôi đều sẽ làm tốt!
        </p>
      </div>

      <div class="introduction__content__vectors">
        <img class="vector" src="/src/images/MainGroupImg.png" />
        <img class="vector" src="/src/images/MainGroupImg.png" />
        <img class="vector" src="/src/images/Group2187.png" />
      </div>
    </div>

    <div class="introduction__dots__slider">
      <img
        src="/src/images/dots-slider-introduction/dot(1).png"
        alt="dot slider"
        class="dot"
      />
      <img
        src="/src/images/dots-slider-introduction/dot(5).png"
        alt="dot slider"
        class="dot"
      />
      <img
        src="/src/images/dots-slider-introduction/dot(2).png"
        alt="dot slider"
        class="dot"
      />
      <img
        src="/src/images/dots-slider-introduction/dot(3).png"
        alt="dot slider"
        class="dot"
      />
      <img
        src="/src/images/dots-slider-introduction/dot(4).png"
        alt="dot slider"
        class="dot"
      />
    </div>
  </div>
</div>
