<div id="news" class="row news">
  <div class="col">
    <div class="container">
      <h2 class="news__title">Tin tức HUGS AGENCY</h2>
      <img class="line" src="/src/images/lineBottom.png" />
      <div class="news__list">
        <div class="row">
          <a href="#" class="new col-lg-4">
            <img
              src="/src/images/dragon-bridge.png"
              alt="new image"
              class="new__img"
            />
            <div class="new__title">Cầu Rồng rực rỡ vào cuối chiều</div>
          </a>
          <a href="#" class="new col-lg-4">
            <img
              src="/src/images/new_img(5).png"
              alt="new image"
              class="new__img"
            />
            <div class="new__title">
              Trò cưng của Lampard bất ngờ được Messi khen ngợi hết lời
            </div>
          </a>
          <a href="#" class="new col-lg-4">
            <img
              src="/src/images/new_img(4).png"
              alt="new image"
              class="new__img"
            />
            <div class="new__title">
              Du lịch Bà Nà để trở về tuổi thơ với những nhân vật hoạt hình
              Disney
            </div>
          </a>
        </div>
        <div class="row">
          <a href="#" class="new col-lg-4">
            <img
              src="/src/images/new_img(3).png"
              alt="new image"
              class="new__img"
            />
            <div class="new__title">
              Ra mắt xe Bugati Chiron hơn 40 tỷ với 300 mã lực
            </div>
          </a>
          <a href="#" class="new col-lg-4">
            <img
              src="/src/images/new_img(2).png"
              alt="new image"
              class="new__img"
            />
            <div class="new__title">
              Giải đấu Liên Minh Huyền Thoại được tổ chức tại Đà Nẵng
            </div>
          </a>
          <a href="#" class="new col-lg-4">
            <img
              src="/src/images/new_img(1).png"
              alt="new image"
              class="new__img"
            />
            <div class="new__title">Du lịch Đà Nẵng mùa nắng này</div>
          </a>
        </div>
      </div>
      <button class="news__read-more">xem thêm</button>
    </div>
  </div>
</div>
