<div id="service" class="row service">
  <div class="col">
    <div class="container">
      <h2 class="service__title">
        Dịch vụ của
        <span class="service__title--uppercase">HUGS agency</span> chúng tôi
      </h2>

      <img class="line" src="/src/images/lineBottom.png" />

      <div class="row service__list">
        <div class="col-md-3 service__list__item">
          <img
            src="/src/images/Group2218.png"
            alt="social media"
            class="item__img"
          />
          <div class="item__content">social media</div>
        </div>
        <div class="col-md-3 service__list__item">
          <img
            src="/src/images/Group2.png"
            alt="booking pr"
            class="item__img"
          />
          <div class="item__content">influencer & kols booking pr</div>
        </div>
        <div class="col-md-3 service__list__item">
          <img src="/src/images/Group3.png" alt="event" class="item__img" />
          <div class="item__content">tổ chức sự kiện</div>
        </div>
        <div class="col-md-3 service__list__item">
          <img
            src="/src/images/Group4.png"
            alt="web service"
            class="item__img"
          />
          <div class="item__content">dịch vụ website</div>
        </div>
      </div>
    </div>
  </div>
</div>
