<div id="service" class="row service">
  <div class="container">
    <div class="service-content">
      <h2 class="service-content__title">
        Dịch vụ của <span>HUGS agency</span> chúng tôi
      </h2>
      <img class="line" src="/src/images/lineBottom.png" />
      <div class="service-content__list-services">
        <div class="service__item">
          <img
            src="/src/images/Group2218.png"
            alt="social media"
            class="service__img"
          />
          <div class="service__content">social media</div>
        </div>
        <div class="service__item">
          <img
            src="/src/images/Group2.png"
            alt="booking pr"
            class="service__img"
          />
          <div class="service__content">influencer & kols booking pr</div>
        </div>
        <div class="service__item">
          <img src="/src/images/Group3.png" alt="event" class="service__img" />
          <div class="service__content">tổ chức sự kiện</div>
        </div>
        <div class="service__item">
          <img
            src="/src/images/Group4.png"
            alt="web service"
            class="service__img"
          />
          <div class="service__content">dịch vụ website</div>
        </div>
      </div>
    </div>
  </div>
</div>
