<div id="service" class="row container-service">
  <div class="container">
    <div class="main-service">
      <h2 class="title-service">
        Dịch vụ của <span>HUGS agency</span> chúng tôi
      </h2>
      <img class="line" src="/src/images/lineBottom.png" />
      <div class="list-service">
        <div class="service">
          <img
            src="/src/images/Group2218.png"
            alt="social media"
            class="service-img"
          />
          <div class="service-content">social media</div>
        </div>
        <div class="service">
          <img
            src="/src/images/Group2.png"
            alt="booking pr"
            class="service-img"
          />
          <div class="service-content">influencer & kols booking pr</div>
        </div>
        <div class="service">
          <img src="/src/images/Group3.png" alt="event" class="service-img" />
          <div class="service-content">tổ chức sự kiện</div>
        </div>
        <div class="service">
          <img
            src="/src/images/Group4.png"
            alt="web service"
            class="service-img"
          />
          <div class="service-content">dịch vụ website</div>
        </div>
      </div>
    </div>
  </div>
</div>
