<div class="team">
  <div class="list--desktop">
    <div class="row">
      <div class="col-xl-3">
        <h2 class="team__title">
          Team HUGS<br />
          <span class="team__title--bold"
            >Chúng tôi là những người đồng đội luôn cùng nhìn về một
            hướng!</span
          >
        </h2>
      </div>

      <div class="col-xl-9">
        <div class="row list__member--desktop">
          <div class="row list__member">
            <img
              class="col-lg-4 col-md-4 col-sm-4 member__img"
              src="/src/images/member(5).png"
              alt="member image"
            />
            <img
              class="col-lg-4 col-md-4 col-sm-4 member__img"
              src="/src/images/member(7).png"
              alt="member image"
            />
            <img
              class="col-lg-3 col-md-3 col-sm-3 member__img"
              src="/src/images/member(6).png"
              alt="member image"
            />
          </div>
          <div class="row list__member">
            <img
              class="col-lg-3 col-md-3 col-sm-3 member__img"
              src="/src/images/member(4).png"
              alt="member image"
            />
            <img
              class="col-lg-4 col-md-4 col-sm-4 member__img"
              src="/src/images/member(3).png"
              alt="member image"
            />
            <img
              class="col-lg-3 col-md-3 col-sm-3 member__img"
              src="/src/images/member(2).png"
              alt="member image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list--mobile">
    <h2 class="team__title">
      Team HUGS<br />
      <span class="team__title--bold"
        >Chúng tôi là những người đồng đội luôn cùng nhìn về một hướng!</span
      >
    </h2>

    <div class="list__member--mobile">
      <div class="member">
        <img
          class="member__img"
          src="/src/images/member(7).png"
          alt="member image"
        />
        <div class="member__info">
          <p class="info__name">Lê Việt Hưng</p>
          <p class="info__position">CEO - Nhà sáng lập</p>
        </div>
      </div>
      <div class="member">
        <img
          class="member__img"
          src="/src/images/member(6).png"
          alt="member image"
        />
        <div class="member__info">
          <p class="info__name">Lê Việt Hưng</p>
          <p class="info__position">CEO - Nhà sáng lập</p>
        </div>
      </div>
      <div class="member">
        <img
          class="member__img"
          src="/src/images/member(4).png"
          alt="member image"
        />
        <div class="member__info">
          <p class="info__name">Lê Việt Hưng</p>
          <p class="info__position">CEO - Nhà sáng lập</p>
        </div>
      </div>
      <div class="member">
        <img
          class="member__img"
          src="/src/images/member(2).png"
          alt="member image"
        />
        <div class="member__info">
          <p class="info__name">Lê Việt Hưng</p>
          <p class="info__position">CEO - Nhà sáng lập</p>
        </div>
      </div>
    </div>
  </div>
</div>
