<div class="row container-team">
  <div class="container">
    <div class="main-team">
      <h2 class="title-team">
        <span>Team HUGS</span><br />
        Chúng tôi là những người đồng đội luôn cùng nhìn về một hướng!
      </h2>
      <div class="member">
        <img
          class="member-img"
          src="/src/images/member(7).png"
          alt="member image"
        />
        <div class="info-member">
          <p class="name-member">Lê Việt Hưng</p>
          <p class="position">CEO - Nhà sáng lập</p>
        </div>
        <img
          class="member-img"
          src="/src/images/member(5).png"
          alt="member image"
        />
        <img
          class="member-img"
          src="/src/images/member(6).png"
          alt="member image"
        />
        <img
          class="member-img"
          src="/src/images/member(4).png"
          alt="member image"
        />
        <img
          class="member-img"
          src="/src/images/member(3).png"
          alt="member image"
        />
        <img
          class="member-img"
          src="/src/images/member(2).png"
          alt="member image"
        />
      </div>

      <div class="dots-slider-introduction">
        <img
          src="/src/images/dots-slider-introduction/dot(1).png"
          alt="dot slider"
          class="dot"
        />
        <img
          src="/src/images/dots-slider-introduction/dot(5).png"
          alt="dot slider"
          class="dot"
        />
        <img
          src="/src/images/dots-slider-introduction/dot(2).png"
          alt="dot slider"
          class="dot"
        />
        <img
          src="/src/images/dots-slider-introduction/dot(3).png"
          alt="dot slider"
          class="dot"
        />
        <img
          src="/src/images/dots-slider-introduction/dot(4).png"
          alt="dot slider"
          class="dot"
        />
      </div>
    </div>
  </div>
</div>
