<div class="team">
  <div class="row">
    <div class="col-3">
      <h2 class="team__title">
        <span class="team__title--normal">Team HUGS</span><br />
        Chúng tôi là những người đồng đội luôn cùng nhìn về một hướng!
      </h2>
    </div>

    <div class="col-9">
      <img
        class="member__img"
        src="/src/images/member(5).png"
        alt="member image"
      />
      <div class="member__info">
        <p class="info__name">Lê Việt Hưng</p>
        <p class="info__position">CEO - Nhà sáng lập</p>
      </div>

      <img
        class="member__img"
        src="/src/images/member(7).png"
        alt="member image"
      />
      <div class="member__info">
        <p class="info__name">Lê Việt Hưng</p>
        <p class="info__position">CEO - Nhà sáng lập</p>
      </div>

      <img
        class="member__img"
        src="/src/images/member(6).png"
        alt="member image"
      />
      <div class="member__info">
        <p class="info__name">Lê Việt Hưng</p>
        <p class="info__position">CEO - Nhà sáng lập</p>
      </div>

      <img
        class="member__img"
        src="/src/images/member(4).png"
        alt="member image"
      />
      <div class="member__info">
        <p class="info__name">Lê Việt Hưng</p>
        <p class="info__position">CEO - Nhà sáng lập</p>
      </div>

      <img
        class="member__img"
        src="/src/images/member(3).png"
        alt="member image"
      />
      <div class="member__info">
        <p class="info__name">Lê Việt Hưng</p>
        <p class="info__position">CEO - Nhà sáng lập</p>
      </div>

      <img
        class="member__img"
        src="/src/images/member(2).png"
        alt="member image"
      />
      <div class="member__info">
        <p class="info__name">Lê Việt Hưng</p>
        <p class="info__position">CEO - Nhà sáng lập</p>
      </div>
    </div>
  </div>

  <div class="members__dots__slider">
    <img
      src="/src/images/dots-slider-introduction/dot(1).png"
      alt="dot slider"
      class="dot"
    />
    <img
      src="/src/images/dots-slider-introduction/dot(5).png"
      alt="dot slider"
      class="dot"
    />
    <img
      src="/src/images/dots-slider-introduction/dot(2).png"
      alt="dot slider"
      class="dot"
    />
    <img
      src="/src/images/dots-slider-introduction/dot(3).png"
      alt="dot slider"
      class="dot"
    />
    <img
      src="/src/images/dots-slider-introduction/dot(4).png"
      alt="dot slider"
      class="dot"
    />
  </div>
</div>
