<section class="banner">
  <div class="banner__content">
    <div class="banner__content__text">
      <h1 class="text__title">hugs agency</h1>
      <p class="text__subtitle">Kết nối thương hiệu với người dùng mạng</p>
    </div>
    <img
      class="banner__content__img"
      src="/src/images/Group1.png"
      alt="banner group"
    />
    <img
      class="banner__content__vector"
      src="/src/images/Vector.png"
      alt="vector"
    />
  </div>

  <ul class="banner__contacts">
    <li class="banner__contacts__link">
      <a class="link" href=""
        ><img class="link__img" src="/src/images/VectorSun.png"
      /></a>
    </li>
    <li class="banner__contacts__link">
      <a class="link" href=""
        ><img class="link__img" src="/src/images/path.png"
      /></a>
    </li>
    <li class="banner__contacts__link">
      <a class="link" href=""
        ><img class="link__img" src="/src/images/VectorZalo.png"
      /></a>
    </li>
    <li class="banner__contacts__link">
      <a class="link" href=""
        ><img class="link__img" src="/src/images/VectorSkype.png"
      /></a>
    </li>
    <li class="banner__contacts__link">
      <a class="link" href=""
        ><img class="link__img" src="/src/images/VectorPhone.png"
      /></a>
    </li>
  </ul>
</section>
