<section class="banner-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner-text title">hugs agency</h1>
        <p class="banner-text subtitle">Kết nối thương hiệu với người dùng mạng</p>
        <img class="image-group" src="/src/images/Group1.png" alt='banner group' />
        <img class="banner-vector" src="/src/images/Vector.png" alt="vector" />
      </div>
    </div>
  </div>

  <ul class="contact-list">
    <li class="contact-link">
      <a href=""><img src='/src/images/VectorSun.png'></a>
    </li>
    <li class="contact-link">
      <a href=""><img src='/src/images/path.png'></a>
    </li>
    <li class="contact-link">
      <a href=""><img src='/src/images/VectorZalo.png'></a>
    </li>
    <li class="contact-link">
      <a href=""><img src='/src/images/VectorSkype.png'></a>
    </li>
    <li class="contact-link">
      <a href=""><img src='/src/images/VectorPhone.png'></a>
    </li>
  </ul>
</section>