.contact {
  position: relative;
  margin-bottom: 60px;

  .contact__list {
    .item {
      display: flex;
      margin-bottom: 40px;

      .item__icon {
        width: 52px;
        height: 52px;
        background-color: rgba(92, 187, 229, 0.1);
        border-radius: 50%;
        line-height: 52px;
        text-align: center;
        margin-right: 20px;

        .contact__img {
          margin-bottom: 4px;
        }
      }

      .item__text {
        color: #262626;

        &--title {
          font-weight: 700;
        }

        &--desc {
          color: #000;
        }
        &--desc:hover {
          opacity: 0.7;
        }
        &--desc.address:hover {
          opacity: 1;
        }
      }
    }
  }

  .contact__form {
    .form__label {
      display: none;
    }

    .text-area {
      resize: none;
    }

    .form__btn {
      border: none;
      padding: 10px 50px;
      border-radius: 100px;
      color: #00405c;
      font-weight: 700;
      background: linear-gradient(to right, rgb(92, 187, 229), rgb(238, 164, 201));
    }
  }

  .contact__vector {
    .first-img {
      position: absolute;
      left: -70px;
      top: 116px;
      z-index: -1;
    }

    .last-img {
      position: absolute;
      right: -196px;
      top: 26px;
      z-index: -1;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 0 10px;

    .contact__form {
      .form__btn {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

@media (max-width: 415px) {
  .contact {
    margin-bottom: 40px;
    padding: 0 20px;

    .contact__title {
      font-size: 22px;
      line-height: 36px;
      margin-top: 34px;
    }

    .line {
      width: 290px;
      height: 2px;
      margin: 15px 0 0;
    }

    .contact__list {
      margin-top: 25px;
    }

    .contact__form {
      .form__label {
        display: block;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .row {
        .form__label {
          margin-left: 16px;
        }
      }

      .form__input {
        margin-bottom: 20px;

        .form-control {
          padding: 12px 0 12px 20px;
          width: 378px;
        }
      }

      .form__btn {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
