.container-customer {
  background-color: rgba(92, 187, 229, 0.1);

  .list-customers {
    display: flex;
    justify-content: space-around;
    margin: 96px 0 130px;
    align-items: center;
  }

  .list-customers.other-customers {
    margin-bottom: 80px;
  }
}
