.container-introduction {
  .main-introduction {
    position: relative;
    margin-bottom: 162px;

    .img-introduction {
      margin-left: 70px;
    }

    .vector-main-introduction {
      .vector {
        position: absolute;

        &:first-child {
          top: -100px;
          left: -102px;
        }

        &:nth-child(2) {
          top: -12px;
          right: -24px;
        }

        &:last-child {
          left: -27px;
          bottom: -92px;
          z-index: -1;
        }
      }
    }

    .text-introduction {
      background-color: #6823cf;
      width: 500px;
      max-width: 100%;
      border-radius: 8px;
      padding: 45px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      top: 40%;
      right: 7%;

      .text {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  .dots-slider-introduction {
    display: none;
  }
}
