.introduction {
  .introduction--desktop {
    position: relative;
    margin-bottom: 80px;

    .introduction__slider {
      .slider__item {
        margin: 50px auto;
        position: relative;

        .item__img {
          width: 770px;
          height: 476px;
          border-radius: 16px;
          max-width: 100%;
          margin: 0 auto;
        }

        .item__descs {
          background-color: #6823cf;
          width: 500px;
          max-width: 100%;
          border-radius: 8px;
          padding: 45px;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          position: relative;
          margin-top: -260px;
          margin-left: 459px;

          .desc {
            &:first-child {
              margin-bottom: 15px;
            }
          }
        }
      }

      .slick-dots {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        .single-dot {
          color: #2b2b2b;
          font-weight: 700;
          opacity: 0.35;
          display: inline-block;
          padding: 8px;
        }
        .single-dot:hover {
          font-size: 24px;
          opacity: 1;
          cursor: pointer;
        }

        .slick-active {
          position: relative;
          right: 12px;

          .single-dot {
            font-size: 24px;
            opacity: 1;
          }
        }
        .slick-active::after {
          content: url("/src/images/line-select.png");
          margin-left: 4px;
          position: absolute;
          top: 8px;
        }
      }
    }

    .introduction__vectors {
      .vector {
        position: absolute;

        &:first-child {
          top: -100px;
          left: -102px;
        }

        &:nth-child(2) {
          top: -12px;
          right: -24px;
        }

        &:last-child {
          left: -27px;
          bottom: -22px;
          z-index: -1;
        }
      }
    }
  }

  .introduction--mobile {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 1200px) {
  .introduction {
    .line {
      margin-bottom: 30px;
    }
    .introduction--desktop {
      .introduction__slider {
        .slider__item {
          .item__img {
            width: 728px;
            height: 455px;
          }

          .item__descs {
            padding: 24px;
            width: 380px;
            margin-left: 399px;
            margin-top: -217px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .introduction {
    .introduction__title {
      font-size: 32px;
      margin: 42px auto 0;
      width: 100%;
    }

    .introduction--desktop {
      display: none;
      visibility: hidden;
    }

    .introduction--mobile {
      display: block;
      visibility: visible;

      .slick-list {
        .slider__item {
          .item__img {
            margin: 0 auto;
            width: 345px;
            height: 213px;
            margin-top: 30px;
            border-radius: 12px;
          }

          .item__descs {
            width: 345px;
            font-size: 14px;
            background-color: #6823cf;
            padding: 18px;
            color: #fff;
            margin: 0 auto;
            border-radius: 12px;
            transform: translateY(-12px);

            .desc {
              &:nth-child(2) {
                margin-top: 20px;
              }
            }
          }
        }
      }

      .slick-dots {
        display: flex;
        width: 94px;
        justify-content: space-around;
        margin: 30px auto 52px;

        .dot--introduction {
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #5cbbe5;
          opacity: 0.3;
        }

        .slick-active {
          width: 30px;
          border-radius: 100px;
          background-color: #5cbbe5;
        }
      }
    }
  }
}

@media (max-width: 615px) {
  .introduction {
    .introduction__title {
      font-size: 28px;
      line-height: 32px;
      margin: 30px auto 0;
      width: 80%;
    }
  }
}

@media (max-width: 415px) {
  .introduction {
    .introduction__title {
      font-size: 22px;
      line-height: 32px;
      margin: 30px auto 0;
      width: 200px;
    }

    .line {
      margin: 15px auto 0;
      display: block;
      width: 290px;
      height: 2px;
    }

    .introduction--desktop {
      display: none;
      visibility: hidden;
    }

    .introduction--mobile {
      display: block;
      visibility: visible;

      .slick-list {
        .slider__item {
          .item__img {
            margin: 0 auto;
            width: 345px;
            height: 213px;
            margin-top: 30px;
            border-radius: 12px;
          }

          .item__descs {
            width: 345px;
            font-size: 14px;
            background-color: #6823cf;
            padding: 18px;
            color: #fff;
            margin: 0 auto;
            border-radius: 12px;
            transform: translateY(-12px);

            .desc {
              &:nth-child(2) {
                margin-top: 20px;
              }
            }
          }
        }
      }

      .slick-dots {
        display: flex;
        width: 94px;
        justify-content: space-around;
        margin: 30px auto;

        .dot--introduction {
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #5cbbe5;
          opacity: 0.3;
        }

        .slick-active {
          width: 30px;
          border-radius: 100px;
          background-color: #5cbbe5;
        }
      }
    }
  }
}
