.container-news {
  background-color: rgba(238, 164, 201, 0.1);

  .main-news {
    width: 80%;
    margin: 0 auto;

    .list-news {
      .new-img {
        display: block;
        width: 100%;
      }

      .new-content {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #262626;
      }
    }

    .read-more {
      display: block;
      border: none;
      border-radius: 100px;
      padding: 10px 35px;
      text-transform: uppercase;
      font-weight: 700;
      color: #00405c;
      background: linear-gradient(to right, rgb(92, 187, 229), rgb(238, 164, 201));
      margin: 30px auto 80px;
    }
  }
}
