<div class="body-container">
  <div class="agency-container">
    <div class="container-title wow flipInX">
      <center>
        <p class="body-title">HUGS Agency</p>
        <p class="body-title">Chúng tôi làm gì ?</p>
        <img
          src="../../images/agencyLine.png"
          alt="body gach ngang"
          class="body-title"
        />
      </center>
    </div>
    <div class="hugs_slide">
      <div class="slide-item">
        <img
          class="body-img__Hugs wow fadeInLeftBig"
          src="../../images/peopleHugs.png"
          alt="freelancer hugs"
        />
        <div class="body-content wow fadeInRightBig">
          <div class="body-content__text">
            <p>
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời. <br />
              Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
              cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam.
              Hugs Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của
              mình bằng những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs
              Agency còn là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn
              “Ở đâu, sự kiện gì chúng tôi đều sẽ làm tốt!
            </p>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <img
          class="body-img__Hugs"
          src="../../images/peopleHugs.png"
          alt="freelancer hugs"
        />
        <div class="body-content">
          <div class="body-content__text">
            <p>
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời. <br />
              Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
              cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam.
              Hugs Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của
              mình bằng những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs
              Agency còn là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn
              “Ở đâu, sự kiện gì chúng tôi đều sẽ làm tốt!
            </p>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <img
          class="body-img__Hugs"
          src="../../images/peopleHugs.png"
          alt="freelancer hugs"
        />
        <div class="body-content">
          <div class="body-content__text">
            <p>
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời. <br />
              Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
              cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam.
              Hugs Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của
              mình bằng những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs
              Agency còn là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn
              “Ở đâu, sự kiện gì chúng tôi đều sẽ làm tốt!
            </p>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <img
          class="body-img__Hugs"
          src="../../images/peopleHugs.png"
          alt="freelancer hugs"
        />
        <div class="body-content">
          <div class="body-content__text">
            <p>
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời. <br />
              Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
              cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam.
              Hugs Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của
              mình bằng những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs
              Agency còn là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn
              “Ở đâu, sự kiện gì chúng tôi đều sẽ làm tốt!
            </p>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <img
          class="body-img__Hugs"
          src="../../images/peopleHugs.png"
          alt="freelancer hugs"
        />
        <div class="body-content">
          <div class="body-content__text">
            <p>
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời. <br />
              Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công
              cụ quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam.
              Hugs Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của
              mình bằng những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs
              Agency còn là một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn
              “Ở đâu, sự kiện gì chúng tôi đều sẽ làm tốt!
            </p>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <img
          class="body-img__Hugs"
          src="../../images/peopleHugs.png"
          alt="freelancer hugs"
        />
        <div class="body-content">
          <div class="body-content__text">
            <p>
              Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm
              kinh nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật.
              Và khi họ gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên
              Hugs Agency ra đời.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-services">
    <center>
      <div class="services-title wow flipInX">
        <p class="">Dịch vụ của HUGS AGENCY chúng tôi</p>
        <img
          class="services-title"
          src="../../images/agencyLine.png"
          alt="gachngang"
        />
      </div>
    </center>
    <div class="services-group">
      <div class="services-img">
        <img
          class="services-img wow fadeInLeftBig"
          src="../../images/socialMedia.png"
          alt="social media"
        />
        <div class="service-img__des">
          <p>SOCIAL MEDIA</p>
        </div>
      </div>
      <div class="services-img">
        <img
          class="services-img wow fadeInDownBig"
          src="../../images/bookingPr.png"
          alt="booking pr "
        />
        <div class="service-img__des">
          <p>Influencer & Kols Booking PR</p>
        </div>
      </div>
      <div class="services-img">
        <img
          class="services-img wow fadeInUpBig"
          src="../../images/toChucSukien.png"
          alt="toChucSukien"
        />
        <div class="service-img__des">
          <p>Tổ chức sự kiện</p>
        </div>
      </div>
      <div class="services-img">
        <img
          class="services-img wow fadeInRightBig"
          src="../../images/webService.png"
          alt="dich vu website"
        />
        <div class="service-img__des">
          <p>Dịch vụ website</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".hugs_slide").slick({
      dots: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      fadeSpeed: 1000,
      infinite: true,
      prevArrow:
        "<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
      nextArrow:
        "<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
      customPaging: function (slider, i) {
        return '<a class="slick-dot">' + (i + 1) + "</a>";
      },
      responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            customPaging: function (slider, i) {
              return '<a class="slick-dot"/a>';
            },
          },
        },
      ],
    });
  });
</script>
