<div class="body-container">
  <div class="agency-container">
    <div class="container-title">
      <center>
        <p class="body-title">
          HUGS Agency <br />
          Chúng tôi làm gì ?
        </p>
        <img
          src="../../images/agencyLine.png"
          alt="body gach ngang"
          class="body-title"
        />
      </center>
    </div>
    <img
      class="body-img__Hugs"
      src="../../images/peopleHugs.png"
      alt="freelancer hugs"
    />
    <div class="body-content">
      <div class="body-content__text">
        <p>
          Hugs Agency là tập hợp những freelance đầy tài năng có nhiều năm kinh
          nghiệm trong lĩnh vực của mình với nhiều thành tích nổi bật. Và khi họ
          gặp nhau, những ý tưởng lớn gặp nhau và từ đó cái tên Hugs Agency ra
          đời. <br />
          Nắm bắt xu hướng truyền thông trên mạng xã hội đang trở thành công cụ
          quảng cáo không thể thiếu cho các doanh nghiệp tại Việt Nam. Hugs
          Agency sẽ là kênh kết nối doanh nghiệp với khách hàng của mình bằng
          những nội dung số sáng tạo và hiệu quả. Bên cạnh đó Hugs Agency còn là
          một nhà tổ chức sự kiện chuyên nghiệp với châm ngôn “Ở đâu, sự kiện gì
          chúng tôi đều sẽ làm tốt!
        </p>
      </div>
    </div>
    <div class="body-number">
      <ul>
        <li class="numeric">1</li>
        <li class="numeric active">2</li>
        <li class="numeric">3</li>
        <li class="numeric">4</li>
        <li class="numeric">5</li>
      </ul>
    </div>
    <img
      src="../../images/gridofdots.png"
      alt="grid of dots"
      class="img-dots"
    />
  </div>
  <div class="body-services">
    <center>
      <div class="services-title">
        <p class="">Dịch vụ của HUGS AGENCY chúng tôi</p>
        <img
          class="services-title"
          src="../../images/agencyLine.png"
          alt="gachngang"
        />
      </div>
    </center>
    <div class="services-group">
      <div class="services-img">
        <img
          class="services-img"
          src="../../images/socialMedia.png"
          alt="social media"
        />
        <div class="service-img__des">
          <p>SOCIAL MEDIA</p>
        </div>
      </div>
      <div class="services-img">
        <img
          class="services-img"
          src="../../images/bookingPr.png"
          alt="booking pr "
        />
        <div class="service-img__des">
          <p>Influencer & Kols Booking PR</p>
        </div>
      </div>
      <div class="services-img">
        <img
          class="services-img"
          src="../../images/toChucSukien.png"
          alt="toChucSukien"
        />
        <div class="service-img__des">
          <p>Tổ chức sự kiện</p>
        </div>
      </div>
      <div class="services-img">
        <img
          class="services-img"
          src="../../images/webService.png"
          alt="dich vu website"
        />
        <div class="service-img__des">
          <p>Dịch vụ website</p>
        </div>
      </div>
    </div>
  </div>
</div>
