<div class="client-container">
  <div class="client-group">
    <div class="client-title">
      <p>Khách hàng của HUGS AGENCY</p>
      <img
        class="client-line"
        src="../../images/agencyLine.png"
        alt="gach ngang"
      />
    </div>
    <div class="client-logo">
      <div class="logo">
        <img class="img-logo" src="../../images/fpt.png" alt="logo fpt" />
      </div>
      <div class="logo">
        <img
          class="img-logo"
          src="../../images/logoShopee.png"
          alt="logo shopee"
        />
      </div>
      <div class="logo">
        <img
          class="img-logo"
          src="../../images/logoLazada.png"
          alt="logo lazada"
        />
      </div>
      <div class="logo">
        <img
          class="img-logo"
          src="../../images/logoPharma.png"
          alt="logo pharma"
        />
      </div>
      <div class="logo">
        <img
          class="img-logo"
          src="../../images/logoChoLon.png"
          alt="logo cho lon"
        />
      </div>
    </div>
    <div class="client-title">
      <p>Đối tác khác</p>
      <img
        class="client-line"
        src="../../images/agencyLine.png"
        alt="gachngang"
      />
    </div>
    <div class="client-logo">
      <div class="logo">
        <img
          class="img-logo"
          src="../../images/logoByteDance.png"
          alt="logo ByteDance"
        />
      </div>
      <div class="logo">
        <img class="img-logo" src="../../images/logoBe.png" alt="logo Be" />
      </div>
      <div class="logo">
        <img class="img-logo" src="../../images/logoAxxe.png" alt="logo Axxe" />
      </div>
      <div class="logo">
        <img
          class="img-logo"
          src="../../images/logoSamsung.png"
          alt="logo Samsung "
        />
      </div>
      <div class="logo">
        <img class="img-logo" src="../../images/logoFila.png" alt="logo Fila" />
      </div>
    </div>
  </div>
</div>
