<div class="client-container">
  <div class="client-group">
    <div class="client-title">
      <p>Khách hàng của HUGS AGENCY</p>
      <img
        class="client-line"
        src="../../images/agencyLine.png"
        alt="gach ngang"
      />
    </div>
    <div class="client-logos">
      <img class="img-logo" src="../../images/fpt.png" alt="logo fpt" />
      <img
        class="img-logo"
        src="../../images/logoShopee.png"
        alt="logo shopee"
      />
      <img
        class="img-logo"
        src="../../images/logoLazada.png"
        alt="logo lazada"
      />
      <img
        class="img-logo"
        src="../../images/logoPharma.png"
        alt="logo pharma"
      />
      <img
        class="img-logo"
        src="../../images/logoChoLon.png"
        alt="logo cho lon"
      />
    </div>
    <div class="client-title">
      <p>Đối tác khác</p>
      <img
        class="client-line"
        src="../../images/agencyLine.png"
        alt="gachngang"
      />
    </div>
    <div class="client-logos container">
      <img
        class="img-logo"
        src="../../images/logoByteDance.png"
        alt="logo ByteDance"
      />
      <img class="img-logo" src="../../images/logoBe.png" alt="logo Be" />
      <img class="img-logo" src="../../images/logoAxxe.png" alt="logo Axxe" />
      <img
        class="img-logo"
        src="../../images/logoSamsung.png"
        alt="logo Samsung "
      />
      <img class="img-logo" src="../../images/logoFila.png" alt="logo Fila" />
    </div>
  </div>
</div>
