<div class="contact-container">
  <div class="contact__title col-12">
    <p class="contact__title--des wow bounceInDown">Liên hệ với chúng tôi</p>
    <img
      class="contact__title--line wow bounceInUp"
      src="../../images/agencyLine.png"
      alt="gach ngang"
    />
  </div>
  <div class="container">
    <div
      class="contact__info row justify-content-md-center justify-content-sm-center"
    >
      <div class="group__contacts col-12 col-sm-12 col-md-6 col-lg-5">
        <div class="group__contacts__address">
          <img
            class="address__img wow fadeInLeft"
            src="../../images/address.png"
            alt="dia chi"
          />
          <div class="address__title">
            <p class="address__name wow fadeInRight">Địa chỉ</p>
            <p class="address__des wow fadeInRight">
              55 Lý Thường Kiệt, Hải Châu, TP Đà Nẵng
            </p>
          </div>
        </div>
        <div class="group__contacts__address">
          <img
            class="address__img wow fadeInLeft"
            src="../../images/email.png"
            alt="dia chi"
          />
          <div class="address__title">
            <p class="address__name wow fadeInRight">Email</p>
            <p class="address__des wow fadeInRight">lienhe@hugs.agency</p>
          </div>
        </div>
        <div class="group__contacts__address">
          <img
            class="address__img wow fadeInLeft"
            src="../../images/phonenumber.png"
            alt="dia chi"
          />
          <div class="address__title">
            <p class="address__name wow fadeInRight">Số điện thoại</p>
            <p class="address__des wow fadeInRight">0924.392.222</p>
          </div>
        </div>
        <div class="group__contacts__address">
          <img
            class="address__img wow fadeInLeft"
            src="../../images/face.png"
            alt="dia chi"
          />
          <div class="address__title">
            <p class="address__name wow fadeInRight">Fanpage</p>
            <p class="address__des wow fadeInRight">www.fb.com/hugs.agency/</p>
          </div>
        </div>
      </div>
      <div
        class="group__inputs col-12 col-sm-12 col-md-6 col-lg-7 justify-content-md-center wow flipInX"
      >
        <label for="group__input" class="group__input__label">Họ tên</label>
        <input
          type="text"
          class="group__input group__input-name"
          placeholder="Nhập số họ tên"
        />
        <label for="group__input" class="group__input__label"
          >Số điện thoại</label
        >
        <input
          type="text"
          class="group__input group__input-email"
          placeholder="Nhập số điện thoại"
        />
        <label for="group__input" class="group__input__label">Email</label>
        <input
          type="text"
          class="group__input group__input-email"
          placeholder="Nhập địa chỉ email"
        />
        <label for="group__input" class="group__input__label">Nội dung</label>
        <input
          type="text"
          class="group__input group__input-name"
          placeholder="Nhập nội dung"
        />
        <div class="new-button col-12 col-sm-12 col-md-6 col-lg-5">
          <div class="button-content">
            <p>Nhận tư vấn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
