<div class="contact-container">
  <div class="contact__title">
    <p class="contact__title--des">Liên hệ với chúng tôi</p>
    <img
      class="contact__title--line"
      src="../../images/agencyLine.png"
      alt="gach ngang"
    />
  </div>
  <div class="contact__group">
    <div class="group__items">
      <div class="group__items__address">
        <img
          class="address__img"
          src="../../images/address.png"
          alt="dia chi"
        />
        <div class="address__title">
          <p class="address__name">Địa chỉ</p>
          <p class="address__des">55 Lý Thường Kiệt, Hải Châu, TP Đà Nẵng</p>
        </div>
      </div>
      <div class="group__items__address">
        <img class="address__img" src="../../images/email.png" alt="dia chi" />
        <div class="address__title">
          <p class="address__name">Email</p>
          <p class="address__des">lienhe@hugs.agency</p>
        </div>
      </div>
      <div class="group__items__address">
        <img
          class="address__img"
          src="../../images/phonenumber.png"
          alt="dia chi"
        />
        <div class="address__title">
          <p class="address__name">Số điện thoại</p>
          <p class="address__des">0924.392.222</p>
        </div>
      </div>
      <div class="group__items__address">
        <img class="address__img" src="../../images/face.png" alt="dia chi" />
        <div class="address__title">
          <p class="address__name">Fanpage</p>
          <p class="address__des">www.fb.com/hugs.agency/</p>
        </div>
      </div>
    </div>
    <div class="group__get-information">
      <input type="text" class="group__input" placeholder="Nhập họ tên" />
      <input
        type="text"
        class="group__input"
        placeholder="Nhập số điện thoại"
      />
      <input
        type="text"
        class="group__input"
        placeholder="Nhập địa chỉ email"
      />
      <input type="text" class="group__input" placeholder="Nhập nội dung" />
    </div>
  </div>
</div>
