<footer class="footer-container">
  <div class="container">
    <div class="footer-logo">
      <img src="/src/images/logoFooter.png" alt="logo footer" />
    </div>

    <h2 class="footer-title">Subscribe to our newsletter</h2>
    <p class="footer-description">
      Hãy để lại email để nhận các thông tin mới nhất từ chúng tôi!
    </p>

    <div class="input-subscribe">
      <input type="email" placeholder="Nhập email" />
      <button class="btn-subscribe">Subscribe</button>
    </div>

    <div class="follow-us">
      <p class="follow-us-title">Theo dõi chúng tôi</p>
      <div class="list-icon-social">
        <a class="icon-social">
          <img
            class="icon-social-img"
            src="/src/images/iconFooter(5).png"
            alt="icon facebook"
          />
        </a>
        <a class="icon-social">
          <img
            class="icon-social-img"
            src="/src/images/iconFooter(9).png"
            alt="icon tiktok"
          />
        </a>
        <a class="icon-social">
          <img src="/src/images/iconFooter(8).png" alt="icon instagram" />
        </a>
        <a class="icon-social">
          <img
            class="icon-social-img"
            src="/src/images/iconFooter(7).png"
            alt="icon zalo"
          />
        </a>
        <a class="icon-social">
          <img
            class="icon-social-img"
            src="/src/images/iconFooter(6).png"
            alt="icon skype"
          />
        </a>
      </div>
    </div>

    <img src="/src/images/lineFooter.png" alt="" class="line-footer" />
    <div class="copy-right">
      <p>
        Copyright © 2021 bởi Hugs Agency.<span
          ><img
            src="/src/images/logoProtect.png"
            alt="logo protect"
            class="logo-protect"
        /></span>
      </p>
    </div>
    <div class="img-footer">
      <img src="/src/images/imgFooter(2).png" alt="image footer" />
    </div>
    <div class="list-vector-footer">
      <img
        src="/src/images/vectorFooter(1).png"
        alt="vector background footer"
      />
      <img
        src="/src/images/vectorFooter(2).png"
        alt="vector background footer"
      />
      <img
        src="/src/images/vectorFooter(3).png"
        alt="vector background footer"
      />
    </div>
  </div>
</footer>
