<footer class="footer">
  <div class="container">
    <div class="row footer__content">
      <div class="col-lg-7 col-md-7 component-text">
        <div
          class="wow bounceInDown footer__logo"
          data-wow-duration="1.4s"
          data-wow-offset="50"
        >
          <img
            class="footer__logo--img"
            src="/src/images/logoFooter.png"
            alt="logo footer"
          />
        </div>
        <h2
          class="footer__title wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="50"
        >
          Subscribe to our newsletter
        </h2>
        <p
          class="footer__description wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="50"
        >
          Hãy để lại email để nhận các thông tin mới nhất từ chúng tôi!
        </p>
        <div
          class="footer__subscribe wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="50"
        >
          <input
            class="footer__subscribe--input"
            type="email"
            placeholder="Nhập email"
          />
          <button class="footer__subscribe--btn">Subscribe</button>
        </div>
        <div
          class="footer__follow-us wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="20"
        >
          <p class="follow-us__title">Theo dõi chúng tôi</p>
          <div class="follow-us__icons">
            <a class="icon">
              <img
                class="icon__img"
                src="/src/images/iconFooter(5).png"
                alt="icon facebook"
              />
            </a>
            <a class="icon">
              <img
                class="icon__img"
                src="/src/images/iconFooter(9).png"
                alt="icon tiktok"
              />
            </a>
            <a class="icon">
              <img
                class="icon__img"
                src="/src/images/iconFooter(8).png"
                alt="icon instagram"
              />
            </a>
            <a class="icon">
              <img
                class="icon__img"
                src="/src/images/iconFooter(7).png"
                alt="icon zalo"
              />
            </a>
            <a class="icon">
              <img
                class="icon__img"
                src="/src/images/iconFooter(6).png"
                alt="icon skype"
              />
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-5 col-md-5 component-img wow bounceInRight"
        data-wow-duration="1.5s"
        data-wow-offset="20"
      >
        <div class="footer__img">
          <img src="/src/images/imgFooter(2).png" alt="image footer" />
        </div>
      </div>
    </div>

    <div class="footer__copy-right wow bounceInUp" data-wow-duration="1.5s">
      <p class="footer__copy-right--text">
        Copyright © 2021 bởi Hugs Agency.<span class="footer__copy-right--img"
          ><img
            src="/src/images/logoProtect.png"
            alt="logo protect"
            class="footer__logo-protect"
        /></span>
      </p>
    </div>

    <div class="footer__vectors">
      <img
        class="vector"
        src="/src/images/vectorFooter(1).png"
        alt="vector background footer"
      />
      <img
        class="vector"
        src="/src/images/vectorFooter(2).png"
        alt="vector background footer"
      />
      <img
        class="vector"
        src="/src/images/vectorFooter(3).png"
        alt="vector background footer"
      />
    </div>
  </div>
</footer>
