<footer class="footer-container overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="footer__group">
        <div class="footer__logo col-lg-6 col-md-4">
          <img
            class="footer__logo__img wow rotateIn"
            src="../../images/logo.png"
            alt="logo"
          />
          <p class="footer__logo__text">HUGS AGENCY</p>
          <p class="footer__logo__text">VIETNAM</p>
        </div>
        <div class="footer__group__des col-md-12">
          <p class="footer__group__text wow rotateInDownLeft">
            Subscribe to our newsletter
          </p>
          <p class="footer__group__text wow rotateInDownRight">
            Hãy để lại email để nhận các thông tin mới nhất từ chúng tôi!
          </p>
          <input
            class="footer__group__input wow rotateInDownLeft"
            type="text"
            placeholder="Nhập email"
          />
          <div class="new-button wow rotateInDownLeft">
            <div class="button-content">
              <p>Subscribe</p>
            </div>
          </div>
          <div class="footer__group__social wow rotateInDownRight">
            <p class="footer_group__text--social">Theo dõi chúng tôi</p>
            <div class="footer__group__logo">
              <div class="footer__group__round">
                <img
                  class="footer__group__img"
                  src="../../images/face-2.png"
                  alt="logo"
                />
              </div>
              <div class="footer__group__round">
                <img
                  class="footer__group__img"
                  src="../../images/tiktok.png"
                  alt="logo"
                />
              </div>
              <div class="footer__group__round">
                <img
                  class="footer__group__img"
                  src="../../images/ins.png"
                  alt="logo"
                />
              </div>
              <div class="footer__group__round">
                <img
                  class="footer__group__img"
                  src="../../images/zalo.png"
                  alt="logo"
                />
              </div>
              <div class="footer__group__round">
                <img
                  class="footer__group__img"
                  src="../../images/skype-2.png"
                  alt="logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__img col-lg-4 col-md-6">
        <img
          class="footer__img-desktop wow flip"
          src="../../images/desktop.png"
          alt="desktop"
        />
      </div>
    </div>
  </div>
  <div class="footer__group__copyright">
    <img
      class="footer__copyright__line"
      src="../../images/agencyLine.png"
      alt="gach ngang"
    />
    <div class="footer__copyright__group">
      <p class="footer__copyright__text">Copyright © 2021 bởi Hugs Agency.</p>
      <img class="footer__copyright__img" src="../../images/DMCA.png" alt="" />
    </div>
  </div>
</footer>
