<header class="header-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav">
          <img class="img-logo" src="../../images/Group.png" />
          <ul class="nav-list">
            <li><a href="" class="nav-link">trang chủ</a></li>
            <li><a href="" class="nav-link">giới thiệu</a></li>
            <li><a href="" class="nav-link">dịch vụ</a></li>
            <li><a href="" class="nav-link">cộng đồng</a></li>
            <li><a href="" class="nav-link">tin tức</a></li>
            <li><a href="" class="nav-link">khách hàng</a></li>
            <li><a href="" class="nav-link contact">liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>