<header class="header">
  <div class="container header__content">
    <div class="nav header__content__nav">
      <img class="nav__logo" src="../../images/Group.png" />
      <ul class="nav__list-links">
        <li><a href="#" class="nav-link">trang chủ</a></li>
        <li><a href="#introduction" class="nav-link">giới thiệu</a></li>
        <li><a href="#service" class="nav-link">dịch vụ</a></li>
        <li><a href="#community" class="nav-link">cộng đồng</a></li>
        <li><a href="#news" class="nav-link">tin tức</a></li>
        <li><a href="#customer" class="nav-link">khách hàng</a></li>
        <li>
          <a href="#contact" class="nav-link nav-link--rounded">liên hệ</a>
        </li>
      </ul>
    </div>

    <div class="nav--responsive">
      <div class="nav__logo">
        <img
          class="logo__img"
          src="/src/images/imagesResponsive/logoResponsive.png"
          alt="logo"
        />
      </div>
      <div class="nav__menu-btn">
        <img
          class="menu-btn__img"
          src="/src/images/imagesResponsive/menu.png"
          alt="menu button"
        />
      </div>
    </div>
  </div>
</header>
