<header class="header-container">
  <div class="container">
    <div class="nav">
      <img class="img-logo" src="../../images/Group.png" />
      <ul class="nav-list">
        <li><a href="#" class="nav-link">trang chủ</a></li>
        <li><a href="#introduction" class="nav-link">giới thiệu</a></li>
        <li><a href="#service" class="nav-link">dịch vụ</a></li>
        <li><a href="#community" class="nav-link">cộng đồng</a></li>
        <li><a href="#news" class="nav-link">tin tức</a></li>
        <li><a href="#customer" class="nav-link">khách hàng</a></li>
        <li><a href="#contact" class="nav-link contact">liên hệ</a></li>
      </ul>
    </div>
    <div class="nav-responsive">
      <div class="logo">
        <img src="/src/images/imagesResponsive/logoResponsive.png" alt="logo" />
      </div>
      <div class="menu-btn">
        <img src="/src/images/imagesResponsive/menu.png" alt="menu button" />
      </div>
    </div>
  </div>
</header>
