<div class="news-container container">
  <div class="news-title">
    <p class="news-title">Tin tức HUGS AGENCY</p>
    <img
      class="news-title line"
      src="../../images/agencyLine.png"
      alt="gach ngang"
    />
  </div>
  <div class="news-items">
    <div class="row justify-content-center">
      <div class="news-item col-3">
        <img class="news-img" src="../../images/hoa.png" alt="Hoa" />
        <p class="img-des">Hoa từ cánh đồng ở Hà Lan</p>
      </div>
      <div class="news-item col-3">
        <img class="news-img" src="../../images/daBong.png" alt="bong da" />
        <p class="img-des">
          Trò cưng của Lampard bất ngờ được Messi khen ngợi hết lời
        </p>
      </div>
      <div class="news-item col-3">
        <img class="news-img" src="../../images/baNa.png" alt="ba na hill" />
        <p class="img-des">
          Du lịch Bà Nà để trở về tuổi thơ với những nhân vật hoạt hình Disney
        </p>
      </div>
      <div class="news-item col-3">
        <img class="news-img" src="../../images/xeBugati.png" alt="sieu xe" />
        <p class="img-des">Ra mắt xe Bugati Chiron hơn 40 tỷ với 300 mã lực</p>
      </div>
      <div class="news-item col-3">
        <img class="news-img" src="../../images/lol.png" alt="lien minh" />
        <p class="img-des">
          Giải đấu Liên Minh Huyền Thoại được tổ chức tại Đà Nẵng
        </p>
      </div>
      <div class="news-item col-3">
        <img class="news-img" src="../../images/thung.png" alt="thung" />
        <p class="img-des">Du lịch Đà Nẵng mùa nắng này</p>
      </div>
    </div>
  </div>
  <div class="new-button">
    <div class="button-content">
      <p>Xem thêm</p>
    </div>
  </div>
</div>
