<div class="social-container">
  <div class="social-group">
    <div class="social-title">
      <p>
        Cộng đồng và <br />
        Đối tác của HUGS AGENCY
      </p>
      <img
        class="social-line"
        src="../../images/socialLine.png"
        alt="social line"
      />
    </div>
    <div class="social-numbers">
      <div class="social-number">
        <span class="item"> 100 </span>
        <p>Group cộng đồng</p>
      </div>
      <div class="social-number">
        <span class="item"> 20 </span>
        <p>Đối tác tin cậy</p>
      </div>
      <div class="social-number">
        <span class="item"> 6.000.000 </span>
        <p>Người dùng facebook</p>
      </div>
      <div class="social-number">
        <span class="item"> 1000 </span>
        <p>Influencer & Kols</p>
      </div>
    </div>
  </div>
</div>
