<div class="social-container">
  <div class="social-group">
    <div class="social-title">
      <p>
        Cộng đồng và <br />
        Đối tác của HUGS AGENCY
      </p>
      <img
        class="social-line"
        src="../../images/socialLine.png"
        alt="social line"
      />
    </div>
    <div class="social-numbers">
      <div class="first-row">
        <div class="social-number">
          <span class="item"> 100 </span>
          <p>Group cộng đồng</p>
        </div>
        <div class="social-number">
          <span class="item"> 20 </span>
          <p>Đối tác tin cậy</p>
        </div>
      </div>
      <div class="social-number">
        <span class="item"> 20 </span>
        <p>Đối tác tin cậy</p>
      </div>
      <div class="social-number">
        <span class="item"> 6.000.000 </span>
        <p>Người dùng facebook</p>
      </div>
      <div class="social-number">
        <span class="item"> 1000 </span>
        <p>Influencer & Kols</p>
      </div>
    </div>
  </div>
  <div class="social-nav">
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGaiXinh.png" alt="icon" />
      <p>Gái xinh</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconbongda.png" alt="icon" />
      <p>Bóng đá</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGiaiTri.png" alt="icon" />
      <p>Giải trí</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconXeCo.png" alt="icon" />
      <p>Xe cộ</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGame.png" alt="icon" />
      <p>Game</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconDuLich.png" alt="icon" />
      <p>Du lịch</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGiaDinh.png" alt="icon" />
      <p>Gia đình</p>
    </div>
  </div>
  <div class="social-slide">
    <img src="../../images/daBong.png" class="slide-img" alt="da bong" />
    <img src="../../images/daBong.png" class="slide-img" alt="da bong" />
    <img src="../../images/daBong.png" class="slide-img" alt="da bong" />
    <img src="../../images/daBong.png" class="slide-img" alt="da bong" />
    <img src="../../images/daBong.png" class="slide-img" alt="da bong" />
    <img src="../../images/daBong.png" class="slide-img" alt="da bong" />
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".social-slide").slick({
      centerMode: true,
      slidesToShow: 1,
      dots: true,
      focusOnSelect: true,
      infinite: true,
      cssEase: "linear",
      prevArrow: false,
      nextArrow: false,
      variableWidth: true,
      variableHeight: true,
    });
  });
</script>
