<div class="social-container container">
  <div class="row justify-content-sm-center social-group">
    <div class="social-title wow flipInY">
      <p>Cộng đồng và</p>
      <p>Đối tác của HUGS AGENCY</p>
      <img
        class="social-line"
        src="../../images/socialLine.png"
        alt="social line"
      />
    </div>
    <div class="social-numbers wow flipInX">
      <div class="container">
        <div class="row">
          <div class="social-number col-sm-6">
            <span class="item"> 100 </span>
            <p>Group cộng đồng</p>
          </div>

          <div class="social-number col-sm-6">
            <span class="item"> 20 </span>
            <p>Đối tác tin cậy</p>
          </div>
        </div>
        <div class="row">
          <div class="social-number col-sm-6">
            <span class="item"> 6.000.000 </span>
            <p>Người dùng facebook</p>
          </div>
          <div class="social-number col-sm-6">
            <span class="item"> 1000 </span>
            <p>Influencer & Kols</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-nav wow bounce">
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconbongda.png" alt="icon" />
      <p>Hoa</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconbongda.png" alt="icon" />
      <p>Bóng đá</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGiaiTri.png" alt="icon" />
      <p>Giải trí</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconXeCo.png" alt="icon" />
      <p>Xe cộ</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGame.png" alt="icon" />
      <p>Game</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconDuLich.png" alt="icon" />
      <p>Du lịch</p>
    </div>
    <div class="nav-items">
      <img class="nav-icon" src="../../images/iconGiaDinh.png" alt="icon" />
      <p>Gia đình</p>
    </div>
  </div>
  <div class="social-slide wow tada">
    <img src="../../images/hoa.png" class="slide-img" alt="hoa tulip" />
    <img
      src="../../images/hoa-tulip-1.jpg"
      class="slide-img"
      alt="hoa tuplip"
    />
    <img
      src="../../images/hoa-tulip-2.jpg"
      class="slide-img"
      alt="hoa tuplip"
    />
    <img
      src="../../images/hoa-tulip-3.jpg"
      class="slide-img"
      alt="hoa tuplip"
    />
    <img src="../../images/hoa-tulip4.jpg" class="slide-img" alt="hoa tuplip" />
    <img
      src="../../images/hoa-tulip-5.jpg"
      class="slide-img"
      alt="hoa tuplip"
    />
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".social-slide").slick({
      centerMode: true,
      slidesToShow: 1,
      focusOnSelect: true,
      adaptiveHeight: true,
      prevArrow: false,
      nextArrow: false,
      variableWidth: true,
      variableHeight: true,
      responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
          },
        },
      ],
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".social-nav").slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      prevArrow: false,
      nextArrow: false,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1,
            infinite: true,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          },
        },
      ],
    });
  });
</script>
