<div class="hugs-container">
  <div class="hugs-title">
    <p>
      Team HUGS
      <br />
      Chúng tôi là những người đồng đội luôn cùng nhìn về một hướng!
    </p>
  </div>
  <div class="hug-items">
    <div class="hug-item crowd">
      <img class="hug-img" src="../../images/hug-1.png" alt="team hugs" />
    </div>
    <div class="hug-item leVanA">
      <img class="hug-img" src="../../images/hug-2.png" alt="person" />
    </div>
    <div class="hug-item">
      <img class="hug-img" src="../../images/hug-3.png" alt="person" />
    </div>
    <div class="hug-item leVanC">
      <img class="hug-img" src="../../images/hug-4.png" alt="person" />
    </div>
    <div class="hug-item">
      <img class="hug-img" src="../../images/hug-5.png" alt="team" />
    </div>
    <div class="hug-item">
      <img class="hug-img" src="../../images/hug-6.png" alt="person" />
    </div>
  </div>
</div>
