<div class="hugs-container">
  <div class="hugs-title">
    <p>
      Team HUGS
      <p>
        Chúng tôi là những người đồng đội luôn cùng nhìn về một hướng!</p>
    </p>
  </div>
  <div class="hug-items">
    <div class="hug-img"><img  class="img-crowd" src="../../images/hug-1.png" alt="team hugs"></div>
  </div>
  <div class="hug-items">
    <div class="hug-img"><img  class="img-LeVietHung" src="../../images/hug-2.png" alt="person"></div>
  </div>
  <div class="hug-items">
    <div class="hug-img"><img class="img-LeVanA" src="../../images/hug-3.png" alt="person"></div>
  </div>
  <div class="hug-items">
    <div class="hug-img"><img class="img-LeVanB" src="../../images/hug-4.png" alt="person"></div>
  </div>
  <div class="hug-items">
    <div class="hug-img"><img class="img-joinHand" src="../../images/hug-5.png" alt="team"></div>
  </div>
  <div class="hug-items">
    <div class="hug-img"><img class="img-LeVanC" src="../../images/hug-6.png" alt="person"></div>
  </div>
</div>
